main {
  padding-top: 40px;
}

.project_tittle {
  text-align: center;
}

.card_container {
  display: grid;
    border: 1px solid blue;
    padding: 20px 10px;
  grid-template-columns: repeat(4, 350px);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.card:nth-of-type(even){
    border: 2px dotted green;
}
.card:nth-of-type(odd){
    border: 2px solid black;
}
.henry-holder {
  width: 20%;
  border-style: solid;
  border-color: gray;
  border-width: 0.2;
  border-radius: 20px;
  padding: 30px;
}

/* nonso"s css styles */
.nonso_header {
  color: blue;
  text-align: center;
  margin-top: 30px;
}

/* dami"s css styles */
.dami.header {
  color: blue;
  text-align: center;
  margin-top: 30px;
}

.venee_header {
  color: rgb(6, 6, 7);
  background-color: crimson;
  text-align: center;
  margin-top: 30px;
}
/* rosheedat's css style */
.rosheedat_card{
    border: 1px solid red;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.rosheedat_header{
    color: brown;
    text-align: center;
    font-size: 2em;
}

/* TEMIDAYO'S CSS STYLES */

.temi-body {
  background-color: whitesmoke;
  color: rgb(12, 12, 109);
}

.temidayo-header {
  background-color: cornflowerblue;
  height: fit-content;
  padding: 10px;
}

.temi-main {
  margin-top: -30px;
}

.temidayo-h1 {
  font-size: 2.2em;
}

#hello_button {
  border: 4px solid rgb(12, 12, 109);
  font-size: 1.1em;
  background-color: cornflowerblue;
  margin-top: 25px;
  padding: 10px;
  color: rgb(12, 12, 109);
}

#hello_button:hover {
  transform: scale(1.2);
  margin-left: 10px;
}
.temi-form {
  border: 2px solid rgb(12, 12, 109);
  padding: 5px 10px;
}

.input-div {
  margin: 20px 0;
}

.radio1 {
  margin: 10px;
}

#input-name,
#food {
  width: 300px;
  height: 30px;
}

.submit-button input {
  padding: 10px;
  color: rgb(12, 12, 109);
  border: 4px solid rgb(12, 12, 109);
  font-size: 1.2em;
}

.liz {
    color:brown;
    text-align: center;
    margin-top: 30px;
}

/* agnes css styles */
.agnes_figcaption {
    color: blue;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.agnes{
    margin-left: auto;
    margin-right: auto;
}
.agnes_th, td{
    padding: 10px;
}

/* bukola's css styling */
.bukola_style{
    border: 2px solid black;
    border-radius: 5px;
    color: crimson;
    width: fit-content;
}
/* Blessing Dawodu's style */
#description {
  padding: 20px;
  text-transform: capitalize;
  text-align: center;
  background-color: #000000;
  color: white;
}

#description:hover {
  color: #dad6d6e1;
}

#blog {
  background-color: #dad6d64d;
  color: #000000;
  padding: 20px;
  margin: 10px;
  line-height: 2;
}

.capitalize {
  text-transform: capitalize;
  margin: auto;
}

.text {
  font-size: 20px;
}
 

