*{
  padding: 0;
  margin: 0;
  width: 100%;
  /* margin: auto; */
box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: auto;
}
main{
  margin: auto;

}

.project_tittle {
  text-align: center;
  padding: 40px 20px;
  background: #000000;
  color: #ffffff;
}

.card_container {
  display: grid;
    padding: 20px 10px;
  grid-template-columns: repeat(4, 350px);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:nth-of-type(even) {
  border: 2px dotted green;
}
.card:nth-of-type(odd) {
  border: 2px solid black;
}
.henry-holder {
  width: 20%;
  border-style: solid;
  border-color: gray;
  border-width: 0.2;
  border-radius: 20px;
  padding: 30px;
}

/* nonso"s css styles */
.nonso_header {
  background-color: blue;
  text-align: center;
 padding: 40px;
 color: #ffffff;
 border-bottom: 5px solid skyblue;
}

.resume_content{
  width: 100%;
  border-top: 5px solid blue;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: flex-start;
}
.resume_content h2{
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}
.resume_left{
  padding: 60px 40px;

}
.display_column{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.resume_right{
  background: #ffffff;
  margin-top: 20px;
  padding: 30px 40px;
}

/* style the labels on the left side */
.nonso_contact{
  font-size: 20px;
}
.padding_left_30, .nonso_contact{
  padding-left: 30px;
}
.nonso_contact .nonso_label{
  font-weight: 700;
}

/* style work history section */
.job_tittle, .company{
  display: flex;
flex-direction: row;
justify-content: space-between;
}
.job_tittle span:first-child, .company span:first-child{
font-weight: 700;
font-size: 28px;

}
.company span:first-child{
  font-size: 20px;
}
.text_right{
  text-align: right;
}

.job_container{
  padding-left: 5px;
}
.job_info{
  margin-bottom: 30px;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
